<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="UI Tests">
  <test name="Functional Testing">
    <classes>
      <class name="Testing.LoginTest"/>
      <class name="Testing.DataProviderDemoTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
